*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{

background:linear-gradient(135deg,#0f172a,#1e293b,#312e81);

color:white;

}


/* navbar */

.navbar{

display:flex;

justify-content:space-between;

padding:20px 80px;

background:rgba(0,0,0,0.3);

backdrop-filter:blur(10px);

}

.navbar ul{

display:flex;

list-style:none;

gap:30px;

}

.navbar a{

color:white;

text-decoration:none;

}


/* hero */

.hero{

height:90vh;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

}

.hero h1{

font-size:50px;

margin-bottom:10px;

}

.hero span{

color:#38bdf8;

}

.typing{

color:#60a5fa;

margin-bottom:15px;

}

.buttons{

margin-top:20px;

display:flex;

gap:20px;

}

.btn{

padding:12px 25px;

background:#38bdf8;

color:black;

border-radius:6px;

text-decoration:none;

}

.outline{

background:transparent;

border:1px solid #38bdf8;

color:white;

}


/* section */

section{

padding:80px 150px;

text-align:center;

}

h2{

margin-bottom:40px;

font-size:32px;

}


/* skills */

.skill-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:40px;

}

.skill-card{

background:rgba(255,255,255,0.05);

padding:30px;

border-radius:12px;

backdrop-filter:blur(10px);

transition:0.3s;

}

.skill-card:hover{

transform:translateY(-10px);

}

.skill-card span{

display:inline-block;

margin:8px;

padding:8px 14px;

background:#1e293b;

border-radius:20px;

font-size:14px;

}


/* projects */

.project-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}

.project{

background:rgba(255,255,255,0.05);

padding:30px;

border-radius:12px;

transition:0.3s;

}

.project:hover{

transform:scale(1.05);

}

.tech{

margin-top:15px;

color:#38bdf8;

font-size:14px;

}


/* footer */

footer{

text-align:center;

padding:30px;

background:#020617;

}